@media (orientation: portrait) {
  body {
    transform: rotate(90deg);
    transform-origin: left bottom;
    width: 90vh;
    height: 100vw;
    overflow-x: hidden;
    position: fixed;
    top : -50vh;
  }


#imgLevel {
    width : 30%;
}
}