@media (orientation: portrait) {
  body {
    transform: rotate(90deg);
    transform-origin: left bottom;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: fixed;
    top : -45vh;
  }

#headerLevel {
    height: 90vw;
    padding: 0%;
  }

#imgLevel {
    width : 30%;
}
}