@media (orientation: portrait) {
  body {
    transform: rotate(90deg);
    transform-origin: left bottom;
    width: 90vh;
    height: 100vw;
    overflow-x: hidden;
    position: fixed;
    top : -50vh;
  }

#headerLevel {
    /* height: 90vw; */
    /* padding-right: 7%; */
  }

#imgLevel {
    width : 30%;
}
}