body {
    font-family: 'Inconsolata', sans-serif;
}

@keyframes anjingJump {
    0% {top: 10px;}
    50% { top: -50px;}
    100% {top: 10px;}
}

#buttonPlayNow, #buttonGuess, #buttonJunior, #buttonSenior,
#buttonPlayAgain, #buttonBack, #buttonNext {
    background-color: black;
    color: white;
    font-size: 1.25rem;
    padding: 5px 20px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

#buttonPlayNow::after, #buttonGuess::after, #buttonJunior::after,
#buttonSenior::after, #buttonPlayAgain::after, #buttonBack::after, #buttonNext::after{
     position : absolute;
     border : 1px solid black;
     left : 4px;
     border-radius: 5px;
     content: "";
     width: 100%;
     height: 100%;
}

#buttonPlayNow:hover, #buttonGuess:hover, #buttonJunior:hover,
#buttonSenior:hover, #buttonPlayAgain:hover, #buttonBack:hover, #buttonNext:hover {
    left: 4px;
    top : 4px
}

#buttonPlayNow:hover::after, #buttonGuess:hover::after,
#buttonJunior:hover::after, #buttonSenior:hover::after,
#buttonPlayAgain:hover::after, #buttonBack:hover::after
#buttonNext:hover::after {
    left: 0;
    top : 0;
}
