body {
    font-family: 'Inconsolata', sans-serif;
}

#headerLevel {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3% 0%;
}


@keyframes anjingJump {
    0% {top: 10px;}
    50% { top: -50px;}
    100% {top: 10px;}
}

#buttonPlayNow, #buttonGuess, #buttonJunior, #buttonSenior,
#buttonPlayAgain, #buttonBack, #buttonNext {
    background-color: black;
    color: white;
    font-size: 1.25rem;
    padding: 5px 20px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

#buttonPlayNow::after, #buttonGuess::after, #buttonJunior::after,
#buttonSenior::after, #buttonPlayAgain::after, #buttonBack::after, #buttonNext::after{
     position : absolute;
     border : 1px solid black;
     left : 4%;
     top: 10%;
     border-radius: 5px;
     content: "";
     width: 100%;
     height: 100%;
}

#buttonPlayNow:hover, #buttonGuess:hover, #buttonJunior:hover,
#buttonSenior:hover, #buttonPlayAgain:hover, #buttonBack:hover, #buttonNext:hover {
    left: 4px;
    top : 4px
}

#buttonPlayNow:hover::after, #buttonGuess:hover::after,
#buttonJunior:hover::after, #buttonSenior:hover::after,
#buttonPlayAgain:hover::after, #buttonBack:hover::after,
#buttonNext:hover::after {
    left: 0px;
    top : 0px;
}

#imgLevel {
    width: 40%;
}

@media only screen and (max-width: 640px) {
#imgLevel {
    width : 70%;
}

#headerLevel {
    padding: 10% 0%;
}

}